@import 'normalize.css';

:root {
    --primary: #fe3c55;
    --black: #000;
    --text-color: #333;

    // default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1508px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'AR One Sans', sans-serif;
    line-height: 1.2rem;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
