@import 'normalize.css';

:root {
  --primary: #fe3c55;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'AR One Sans', sans-serif;
  line-height: 1.2rem;
}
